RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_URI} !^/Web/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /Web/$1 [L]

DirectoryIndex Web/index.html