/* Variables */
:root {
    --font-main: 'gilroy', sans-serif;
    --font-secondary: 'test-untitled-serif-regular';
    --font-size-large: 74px;
    --font-size-medium: 60px;
    --font-size-small: 50px;
    --font-size-xsmall: 40px;
    --font-size-xxsmall: 35px;
    --font-size-xxxsmall: 28px;
    --color-white: #fff;
    --padding-right-large: 17em;
    --padding-right-medium: 13em;
    --padding-right-small: 8em;
    --padding-right-xsmall: 4em;
    --padding-right-xxsmall: 2em;
    --margin-top-large: 20em;
    --margin-top-small: 32em;
}

/* Fuente común */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
}

@font-face {
    font-family: 'Test';
    src: url("../assets/fonts/test/test-untitled-serif-regular-italic.woff2"),
        url("../assets/fonts/test/test-untitled-serif-regular.woff2");
}

.back {
    height: 56.96em;
    background-repeat: no-repeat;
    background-image: url("./../components/Muestra/muestra.webp");
    background-size: auto;
}

.backtext,
.back span {
    text-transform: uppercase;
    font-family: var(--font-secondary);
    letter-spacing: 2px;
    font-weight: 200;
    color: var(--color-white);
}

.back span {
    font-weight: bold;
    margin-right: .66em;
    margin-top: -.1em;
}

.textos {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: left;
    padding-top: var(--margin-top-large);
    padding-right: var(--padding-right-large);
}

.nav {
    height: 5em;
    display: flex;
    justify-content: end;
    padding-right: 3em;
    padding-top: 1em;
}

.nav img {
    margin-left: .7em;
}

.logonav {
    margin-right: .7em;
    width: 3em;
    height: 3em;
    margin-top: .5em;
}

/* Media Queries */
@media screen and (max-width: 1450px) {
    .textos {
        padding-right: var(--padding-right-medium);
    }

    .backtext,
    .back span {
        font-size: var(--font-size-medium);
    }
}

@media screen and (max-width: 1200px) {
    .textos {
        padding-right: var(--padding-right-small);
    }

    .backtext,
    .back span {
        font-size: var(--font-size-small);
    }
}

@media screen and (max-width: 950px) {
    .textos {
        padding-right: var(--padding-right-xsmall);
    }

    .backtext,
    .back span {
        font-size: var(--font-size-xsmall);
    }

    .menunav {
        width: 3.2em;
        height: 3.2em;
    }

    .lineanav {
        height: 3.3em;
    }

    .logonav {
        margin-top: .4em;
        width: 2.5em;
        height: 2.5em;
    }
}

@media screen and (max-width: 800px) {
    .textos {
        padding-top: var(--margin-top-small);
        padding-right: var(--padding-right-xxsmall);
    }

    .backtext,
    .back span {
        font-size: var(--font-size-xsmall);
    }
}

@media screen and (max-width: 630px) {

    .backtext,
    .back span {
        font-size: var(--font-size-xxxsmall);
    }

    .lineanav {
        height: 3em;
    }

    .menunav {
        width: 3em;
        height: 3em;
    }

    .logonav {
        width: 2.3em;
        height: 2.3em;
    }
}